{
    "overrides": [
      {
        "files": "*.sol",
        "options": {
          "useTabs": true,
          "singleQuote": false,
          "bracketSpacing": true,
          "explicitTypes": "no"
        }
      }
    ]
  }