.page {
  display: flex;
  width: calc(100vw - 200px);
  flex-direction: column;

  .register-section {
    display: flex;
    flex-direction: column;
    width: 506px;
    margin-left: auto;
    margin-right: auto;

    .buttons {
      display: flex;
      justify-content: flex-end;
    }
    .register-form {
      display: flex;
      flex-direction: column;
    }
  }
}

.margin-right-10 {
  margin-right: 10px;
}
