@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.container {
  display: flex;
  width: calc(100vw - 200px);
  height: calc(100vh - 64px);
}

.margin-right-10 {
  margin-right: 10px;
}

.menu-container {
  position: fixed;
}

.menu-drawer {
  width: 200px;
  display: flex;
}
