<div>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>

  <div>
    <form class="example-container" [formGroup]="options" [style.fontSize.px]="14">
    <mat-form-field appearance="standard">
      <mat-label>Select account</mat-label>
      <mat-select [formControl]="accountControl" (selectionChange)="changeAccount($event.value)">
        <mat-option *ngFor="let account of accounts" [value]="account">
          {{account}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  </div>


</mat-toolbar>
</div>
test
