<div>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Blockchain app</span>
    <span class="example-spacer"></span>

    <div class="margin-right-10">
      <h2>{{ selectedAccountRole }}</h2>
    </div>
    <div>
      <form
        class="example-container"
        [formGroup]="options"
        [style.fontSize.px]="14"
      >
        <mat-form-field appearance="standard">
          <mat-label>Select account</mat-label>
          <mat-select
            formControlName="account"
            (selectionChange)="changeAccount($event.value)"
          >
            <mat-option *ngFor="let account of accounts" [value]="account">
              {{ account }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </mat-toolbar>
</div>
